<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/font-awesome.css">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/css.css">

    <script src="script/menu.js"></script>
    <script src="script/point.js"></script>
    <script src="script/molecule.js"></script>
    <script src="script/main.js"></script>
    <script src="script/section-working.js"></script>
    <script src="script/caurousel.js"></script>
    <title>Smart-landing</title>
</head>

<body>
    <header>
        <canvas id="canvas"></canvas>
        <div class="container header-container">
            <div class="row">
                <nav class="col-12">
                    <a href="">
                        <h2>Smart</h2>
                    </a>

                    <button class="toggler-menu">
                        <div></div>
                        <div></div>
                        <div></div>
                    </button>
                </nav>
            </div>

            <div class="row flex-column content-center align-center grow-1">
                <h1 class="col-12 section-title"><span class="first-word">Smart</span> Agency Landign Page</h1>
                <p class="col-12">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, fuga provident. Libero magni quibusdam labore ad iste saepe hic, maxime qui ipsum tempore beatae, volu tomi ptates        doloremque rerum aspernatur dolorum at!
                </p>
            </div>

            <div class="wrapper-form">
                <p><span class="first-word">Send</span> A message</p>
                <form action="" class="d-flex flex-column content-between">
                    <input type="text" placeholder="Your Name" class="header-form-element">
                    <input type="email" placeholder="Your Email" class="header-form-element">
                    <textarea cols="30" rows="5" placeholder="Your Message" class="header-form-element"></textarea>
                    <button type="submit" class="btn">Send message<i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        
        <div class="nav-menu d-flex content-center align-center">
            <ul class="d-flex content-around flex-column">
                <li><a href="">Working Process</a></li>
                <li><a href="">Featured Works</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Team & Skills</a></li>
                <li><a href="">Clients Said</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </header>

    <main>
        <section class="working-process">
            <div class="container">
                <h2 class="section-title"><span class="first-word">Working</span> Process</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <div class="row">
                    <div class="wrapper-working-item col-3 col-sm-6">
                        <div class="box-item d-flex align-center flex-column">
                            <div class="img">
                                <img src="img/work-ko.png" alt="">
                            </div>
                            <h4>Koc Koi Tomi</h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            </p>
                            <button class="btn">
                                <i class="fa fa-plus" aria-hidden="true"></i>Khow more
                            </button>
                        </div>
                    </div>

                    <div class="wrapper-working-item col-3 col-sm-6">
                        <div class="box-item d-flex align-center flex-column">
                            <div class="img">
                                <img src="img/work-koc.png" alt="">
                            </div>
                            <h4>Koc Koi Tomi</h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            </p>
                            <button class="btn">
                                <i class="fa fa-plus" aria-hidden="true"></i>Khow more
                            </button>
                        </div>
                    </div>

                    <div class="wrapper-working-item col-3 col-sm-6">
                        <div class="box-item d-flex align-center flex-column">
                            <div class="img">
                                <img src="img/work-kolmona.png" alt="">
                            </div>
                            <h4>Koc Koi Tomi</h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            </p>
                            <button class="btn">
                                <i class="fa fa-plus" aria-hidden="true"></i>Khow more
                            </button>
                        </div>
                    </div>

                    <div class="wrapper-working-item col-3 col-sm-6">
                        <div class="box-item d-flex align-center flex-column">
                            <div class="img">
                                <img src="img/work-setting.png" alt="">
                            </div>
                            <h4>Koc Koi Tomi</h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            </p>
                            <button class="btn">
                                <i class="fa fa-plus" aria-hidden="true"></i>Khow more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="featured-works">
            <div class="container">
                <h2 class="section-title"><span class="first-word">Featured</span> Works</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <div class="row foto">
                    <div class="col-4">
                        <img src="img/11.png" class="front" alt="">
                        <img src="img/11m.png" alt="">
                    </div>
                    <div class="col-4">
                        <img src="img/22.png" class="front" alt="">
                        <img src="img/22m.png" alt="">
                    </div>
                    <div class="col-4">
                        <img src="img/888.png" class="front" alt="">
                        <img src="img/888m.png" alt="">
                    </div>
                </div>
                <div class="row foto">
                    <div class="col-4">
                        <img src="img/444.png" class="front" alt="">
                        <img src="img/444m.png" alt="">
                    </div>
                    <div class="col-4">
                        <img src="img/555.png" class="front" alt="">
                        <img src="img/555m.png" alt="">
                    </div>
                    <div class="col-4">
                        <img src="img/666.png" class="front" alt="">
                        <img src="img/666m.png" alt="">
                    </div>
                </div>
               
            </div>
        </section>

        <section class="services">
            <div class="container">
                <h2 class="section-title"><span class="first-word">Services</span> We Provide</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <div class="row">
                    <div class="col-2 services-icons">
                        <div><img src="img/serv-square.png" alt=""></div>
                        <div><img src="img/ls4b.png" alt=""></div>
                        <div><img src="img/ls3b.png" alt=""></div>
                        <div><img src="img/serv-square.png" alt=""></div>
                    </div>

                    <div class="col-6 services-description">
                        <h4>Modern App Design</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, ipsum debitis? Vero neque aliquam velit nam quasi quas voluptate et. Eveniet nam quo aspernatur expedita perferendis cupiditate reiciendis id veniam?
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Vero neque aliquam velit nam quasi quas voluptate et.</p>
                        <p> Sunt minus odit neque distinctio. Eaque!</p>
                        <button class="btn">
                            <i class="fa fa-plus" aria-hidden="true"></i>Khow more
                        </button>
                    </div>

                    <div class="col-4 d-flex content-center align-center wrapper-services-img">
                        <div class="services-img">
                            <img src="img/watch.png" alt="">
                        </div>
                    </div>
                </div>
               
            </div>
        </section>

        <section class="clients">
            <div class="container">
                <h2 class="section-title"><span class="first-word">Clients</span> Said</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <div class="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item d-flex align-center carousel-item-active">
                            <div class="grow-1 col-6">
                                <div class="carousel-item-description d-flex flex-column align-center">
                                    <div class="carousel-img">
                                        <img src="img/jquery-modern-logo.jpg" alt="">
                                    </div>
                                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quis eaque accusamus, numquam tempore vel officia laboriosam. Possimus ratione veritatis ex provident! Nostrum, facere eaque? Voluptatem animi iure at eveniet?"</p>
                                    <ul class="d-flex">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <p><b>Kita Say</b>, HK Director</p>
                                </div>
                            </div>
                            <div class="grow-1 col-6">
                                <div class="carousel-item-description d-flex flex-column align-center">
                                    <div class="carousel-img">
                                        <img src="img/github-icon-logo-png-transparent.png" alt="">
                                    </div>
                                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quis eaque accusamus, numquam tempore vel officia laboriosam. Possimus ratione veritatis ex provident! Nostrum, facere eaque? Voluptatem animi iure at eveniet?"</p>
                                    <ul class="d-flex">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <p><b>Kita Say</b>, HK Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item d-flex align-center">
                            <div class="grow-1 col-6">
                                <div class="carousel-item-description d-flex flex-column align-center">
                                    <div class="carousel-img">
                                        <img src="img/Bootstrap.png" alt="">
                                    </div>
                                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quis eaque accusamus, numquam tempore vel officia laboriosam."</p>
                                    <ul class="d-flex">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <p><b>Kita Say</b>, HK Director</p>
                                </div>
                            </div>
                            <div class="grow-1 col-6">
                                <div class="carousel-item-description d-flex flex-column align-center">
                                    <div class="carousel-img">
                                        <img src="img/CSS3_Logo.png" alt="">
                                    </div>
                                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quis eaque accusamus, numquam tempore vel officia laboriosam.Nostrum, facere eaque? Voluptatem animi iure at eveniet?"</p>
                                    <ul class="d-flex">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>

                                    </ul>
                                    <p><b>Kita Say</b>, HK Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item d-flex align-center">
                            <div class="grow-1 col-6">
                                <div class="carousel-item-description d-flex flex-column align-center">
                                    <div class="carousel-img">
                                        <img src="img/logotip-sass.png" alt="">
                                    </div>
                                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quis eaque accusamus, numquam tempore vel officia laboriosam. Possimus ratione veritatis ex provident! Nostrum, facere eaque? Voluptatem animi iure at eveniet?Possimus ratione veritatis ex provident! Nostrum, facere eaque? Voluptatem animi iure at eveniet?"</p>
                                    <ul class="d-flex">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      
                                    </ul>
                                    <p><b>Kita Say</b>, HK Director</p>
                                </div>
                            </div>
                            <div class="grow-1 col-6">
                                <div class="carousel-item-description d-flex flex-column align-center">
                                    <div class="carousel-img">
                                        <img src="img/Gulp.js.png" alt="">
                                    </div>
                                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quis eaque accusamus, numquam tempore vel officia laboriosam. Possimus ratione veritatis ex provident! Nostrum, facere eaque? Voluptatem animi iure at eveniet? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit."</p>
                                    <ul class="d-flex">
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <p><b>Kita Say</b>, HK Director</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="carousel-arrow arrow-right d-flex content-center align-center">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                    <div class="carousel-arrow arrow-left d-flex content-center align-center">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>

                    <ul class="carousel-indicators d-flex content-between">
                        <li class="indicators-active"></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <section class="partners">
            <div class="container">
                <div class="row d-flex content-around">
                    <div class="partner-img col-2"><img src="img/partner1.png" alt=""></div>
                    <div class="partner-img col-2"><img src="img/partner2.png" alt=""></div>
                    <div class="partner-img col-2"><img src="img/partner4.png" alt=""></div>
                    <div class="partner-img col-2"><img src="img/partner1.png" alt=""></div>
                    <div class="partner-img col-2"><img src="img/partner2.png" alt=""></div>
                    <div class="partner-img col-2"><img src="img/partner4.png" alt=""></div>
                </div>
            </div>
        </section>

        <section class="contact">
            <button class="btn">Contact Us</button>
            <div class="wrapper-socials row col-6 content-center align-center">
                <div><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div><i class="fa fa-twitter" aria-hidden="true"></i></div>
                <div><i class="fa fa-behance" aria-hidden="true"></i></div>
                <div><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                <p>© 2015 - 2016 Deviserweb Ltd.</p>
            </div>
        </section>
   
 
    </footer>
</body>
</html>